header{
    height: 150px;
    width: 100px;
    padding: 0 200px;
.nav1{
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
}
